﻿
@{
    ViewBag.Title = "Shape";
}

@section Styles {
    <style type="text/css">
        .green {
            background-color: green;
            font-weight: bold;
        }

        .yellow {
            background-color: yellow;
            font-style: italic;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <tr>
        <td colspan="2">
            <input type="number" id="nil1" class="form-control" value="0" />
        </td>
        <td colspan="2" id="shape">
            @*<input type="text" id="shape" class="form-control" value="?" />*@
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="btn-green" class="btn btn-success" value="0" />
        </td>
        <td>
            <input type="button" id="btn-yellow" class="btn btn-warning" value="?" />
        </td>
        <td>
            <input type="button" id="btn-mul" class="btn btn-primary" value="0" />
        </td>
        <td>
            <input type="button" id="btn-div" class="btn btn-danger" value="0" />
        </td>
    </tr>

</table>

@section Scripts{
    <script type="text/javascript">
        $("#btn-green").click(function () {
            $.ajax({
                url: '@Url.Action("Green", "Shape")',
                type: 'get',
                data: { val: $("#nil1").val()},
                success: function (result) {
                    $("#shape").html(result);
                }
            });
        });
        $("#btn-yellow").click(function () {
            $.ajax({
                url: '@Url.Action("Yellow", "Shape")',
                type: 'get',
                data: { val: $("#nil1").val() },
                success: function (result) {
                    $("#shape").html(result);
                }
            });
        });
    </script>
}