﻿
@{
    ViewBag.Title = "Product";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="button" id="btn-create" value="Create New" class="btn btn-success" />
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList(1);
        });

        var selPage = 1;
        var maxPage = 0;
        function GetList(page) {
            $.ajax({
                url: '@Url.Action("List","Product")',
                type: 'get',
                data: { page: page, cnt: 5 },
                success: function (result) {
                    $(".panel-body").html(result);
                    selPage = page;
                }
            });
        }

        $("#btn-create").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Product")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Create New");
                    $(".modal").modal("show");
                }
            })
        });

        function MoveToPage(moveTo) {
            //console.log('moveTo: ' + moveTo + ', selPage: ' + selPage + ', maxPage: ' + maxPage);
            if (parseInt(selPage) + parseInt(moveTo) >= 1 && parseInt(selPage) + parseInt(moveTo) <= maxPage) {
                selPage = parseInt(selPage) + parseInt(moveTo);
                GetList(selPage);
            }
        }
    </script>
}
