﻿@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<style>
            th {
                background-color: blue;
                color: white;
            }

            .name {
                font-weight: bolder;
            }

            .first-name {
                font-style: italic;
            }

            .last-name {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            #tr1 {
                background-color: yellow;
            }
        </style>*@
</head>
<body>
    <table style="width:100%" class="table table-striped">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
        </tr>
        @*<thead>
            </thead>*@
        <tr id="tr1">
            <td class="name first-name">Jill</td>
            <td class="name last-name">Smith</td>
            <td>50</td>
        </tr>
        <tr id="tr2">
            <td class="name first-name">Eve</td>
            <td class="name last-name">Jackson</td>
            <td>94</td>
        </tr>
        <tr id="tr3">
            <td class="name first-name">Eve</td>
            <td class="name last-name">Jackson</td>
            <td>94</td>
        </tr>
        @*<tbody>
            </tbody>*@
        @*<tfoot>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                </tr>
            </tfoot>*@
    </table>
</body>
</html>
